p {
    color: red;
}

div:nth-of-type(2) {
    color: #00FF00;
}

p,
h2 {
    font-size: 24px;
}

div,
p {
    font-size: 3em;
    background: wheat
}

#div2 {
    color: blue;
}

a[target='_blank'] {
    color: yellow;
}

ul>li {
    font-weight: bold;
}

.item>span {
    font-size: 18px;
}

.item>div>span {
    font-style: italic;
}